<footer>
    <p>Created for <a href="https://scottkellum.com">Scott Kellum’s</a> <a href="http://coopertype.org/event/typography_on_the_web">Typography on the Web</a> class at <a href="http://coopertype.org/nyc">Cooper Union</a>.
</footer>